<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.boot.board.domain.repository.mybatis.mapper.CommentMapper">



    <sql id="commentColumns">
    idx, article_idx, content, writer, delete_yn, created_at, modified_at, deleted_at
    </sql>


    <insert id="save" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO bootboard.COMMENT(article_idx, content, writer, delete_yn, created_at, modified_at, deleted_at)
        VALUES (#{articleIdx},
                #{content},
                #{writer},
                COALESCE(#{deleteYn}, 'N'),
                NOW(),
                #{modifiedAt},
                #{deletedAt})

    </insert>


    <select id="findAll" parameterType="CommentDto" resultType="CommentDto">
        SELECT
        <include refid="commentColumns" />
        FROM
        bootboard.COMMENT comment
        WHERE
        delete_yn = 'N' || delete_yn is null
        AND
        article_idx = #{articleIdx}
        ORDER BY
        idx DESC,
        created_at DESC
    </select>

    <select id="getCount" parameterType="CommentDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            bootboard.COMMENT comment
        WHERE
            delete_yn = 'N'
          AND
            article_idx = #{articleIdx}
    </select>


    <update id="update" parameterType="CommentDto">
        UPDATE bootboard.COMMENT comment
        SET
            modified_at = now(),
            content = #{content},
            writer = #{writer}
        WHERE
            idx = #{idx}
    </update>

    <update id="delete" parameterType="long">
        UPDATE bootboard.COMMENT comment
        SET delete_yn  = 'Y',
            deleted_at = NOW()
        WHERE idx = #{idx}
    </update>

</mapper>