<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JBlog</title>
  <link rel="stylesheet" th:href="@{${pageContext.request.contextPath}/assets/css/jblog.css}">
</head>
<body>
<div class="center-content">
  <!-- 해더 -->
  <div th:replace="/WEB-INF/views/includes/main-header.html"></div>

  <form class="search-form">
    <fieldset>
      <input type="text" name="keyword" />
      <input type="submit" value="검색" />
    </fieldset>
    <fieldset>
      <input type="radio" name="which" value="blog-title"> <label>블로그 제목</label>
      <input type="radio" name="which" value="blog-user"> <label>블로거</label>
    </fieldset>
  </form>
</div>
</body>
</html>
