<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.springjspblog.repository.mybatis.BlogMapper">

    <insert id="save" parameterType="Blog" useGeneratedKeys="true" keyProperty="userId">

        insert into kostablog.blog(userId, blogTitle, logoFile)
        values(
        #{userId},
        #{blogTitle},
        #{logoFile})

        <selectKey resultType="String" keyProperty="userId" keyColumn="userId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>



    <select id="findById" parameterType="String" resultType="Blog">
        SELECT userId, blogTitle, logoFile
        FROM kostablog.blog
        WHERE userId = #{userNo}
    </select>



    <select id="update" parameterType="String" resultType="Blog">
        update kostablog.blog
        set blogTitle = #{blogTitle}
        <if test="logoFile !=null and logoFile !='' ">
            , logoFile = #{logoFile}
        </if>
        where userId = #{userId}
    </select>



</mapper>

