<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.springjspblog.repository.mybatis.CategoryMapper">

    <insert id="save" parameterType="Category" useGeneratedKeys="true" keyProperty="categoryNo">

        <selectKey keyProperty="categoryNo" resultType="int" order="BEFORE">
            SELECT IFNULL(MAX(categoryNo) + 1, 1) FROM kostablog.category
        </selectKey>

        insert into kostablog.category(categoryNo, userId, categoryName, categoryDescription, regDate)
        values(
        #{categoryNo},
        #{userId},
        #{categoryName},
        #{categoryDescription},
        sysdate()
        )

        <!--        <selectKey resultType="String" keyProperty="id" keyColumn="id" order="AFTER">-->
        <!--            SELECT LAST_INSERT_ID()-->
        <!--        </selectKey>-->

    </insert>


    <select id="findById" parameterType="string" resultType="Category">
        SELECT categoryNo, userId, categoryName, categoryDescription, regDate
        FROM kostablog.category
        WHERE userId = #{userId}
    </select>


    <select id="findAll" parameterType="String" resultType="Category">
        SELECT category.categoryNo, category.userId, category.categoryName, category.categoryDescription, category.regDate, COUNT(article.categoryNo) AS cnt
        FROM kostablog.CATEGORY category
                 LEFT JOIN kostablog.ARTICLE article ON category.categoryNo = article.categoryNo
        WHERE userId = #{userId}
        GROUP BY category.categoryNo
        ORDER BY category.categoryNo DESC;
    </select>



</mapper>

